@{
    ViewBag.Title = "Join";
}



<h2>Join</h2>
<h2></h2>

<input type="hidden" name="tokenInput" value="@Html.Encode(@ViewData["playerTokenServer"])" id="tokenInput" />
<div class="row">
    <div class="col-md-12">
        <canvas id='c' class="canvas"></canvas>
    </div>
</div>
    @Scripts.Render("~/Scripts/jquery-1.9.1.min.js")
    @Scripts.Render("~/Scripts/easeljs-0.8.0.combined.js")
    
    @Scripts.Render("~/Scripts/CustomScripts/GameScript.js")
    @Scripts.Render("~/Scripts/CustomScripts/GameScriptAjax.js")
